#feature {
  margin-bottom: 124px;
  margin-top: 120px;
  .feature-content {
    padding: 34px 46px 74px;
    
  }
  i {
    font-size: 60px;
    color: #e84646;
    color: #e84646;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 25px;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
  }
}
