/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header {
  position: relative;
  background-image: url(images/banner.png);
  width: 100%;
  height: 750px; }

.nav {
  font-family: 'Raleway', sans-serif; }
  .nav li {
    text-transform: uppercase;
    font-size: 13px; }

.navbar {
  background-color: inherit;
  border-bottom-color: #505268; }

.navbar-brand {
  font-family: myriad pro;
  font-size: 33px;
  text-transform: uppercase; }
  .navbar-brand span {
    font-weight: bold;
    text-transform: uppercase; }

.navbar-nav li {
  color: #d7d8db; }

.banner-text {
  position: relative;
  margin-top: 159px; }
  .banner-text h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 67px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 42px; }
  .banner-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 82px;
    letter-spacing: 0; }
  .banner-text a {
    text-transform: uppercase; }
  .banner-text .btn {
    border-radius: inherit;
    color: #fef6f6;
    background-color: #e84545; }

#feature {
  margin-bottom: 124px;
  margin-top: 120px; }
  #feature .feature-content {
    padding: 34px 46px 74px; }
  #feature i {
    font-size: 60px;
    color: #e84646;
    color: #e84646; }
  #feature h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 25px; }
  #feature p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279; }

#works {
  width: 100%;
  margin-bottom: 100px;
  padding: 0 !important; }

.work img {
  width: 100%;
  height: 345px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden; }

.work {
  padding: 0 !important; }

.container-fluid {
  padding: 0 !important; }
  .container-fluid .row {
    padding: 0 !important; }

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .overlay h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff; }
  .overlay span {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff; }

#team {
  margin-bottom: 100px; }
  #team .img-responsive {
    margin-bottom: 30px; }
  #team p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif; }

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #2d3033;
  font-weight: bold;
  margin-bottom: 15px; }

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #e84545;
  margin-bottom: 30px; }

.social-icons {
  margin-top: 30px;
  display: inline-block; }
  .social-icons li {
    float: left;
    margin-right: 30px; }
  .social-icons a {
    color: #c6cacc; }

.container-fluid {
  padding: 0 !important; }

.slider img {
  width: 100%;
  height: 495px; }
.slider p {
  color: red; }
.slider blockquote {
  width: 100%;
  background-color: #53354a;
  padding: 0 !important;
  height: 495px; }
.slider p {
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 37px;
  padding-top: 115px;
  padding-left: 85px;
  padding-right: 124px; }
.slider .author {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  padding-left: 85px; }

.col-md-6 {
  padding: 0 !important; }

#download {
  margin-top: 100px;
  padding: 0 !important;
  margin-left: 0;
  margin-right: 0; }
  #download h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    margin-bottom: 22px; }
  #download p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-bottom: 40px;
    font-weight: bold; }
  #download .btn {
    border-radius: inherit;
    margin-bottom: 100px; }

.footer {
  text-align: center; }
  .footer .footer-top {
    background-color: #3a3e64;
    padding-top: 50px; }
  .footer .footer-col {
    margin-bottom: 80px; }

.footer-bottom {
  background-color: #313454;
  padding: 20px 0; }

.footer .footer-col {
  margin-bottom: 80px; }

.footer h5 {
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif; }

.footer p {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Raleway', sans-serif;
  font-size: 14px; }

.footer a {
  color: #fff; }

.footer a:hover {
  color: #e84545; }

.footer .footer-share {
  margin-top: 0; }
  .footer .footer-share i {
    color: red;
    border: 1px #ffffff;
    display: block; }

.footer .footer-share li {
  display: inline-block;
  float: none; }

.footer .footer-share a {
  border-width: 2px;
  color: #fff; }

.footer .fa-heart {
  color: #e84545;
  font-size: 11px;
  margin: 0 2px; }

/*# sourceMappingURL=style.css.map */
